version: '3.9'
services:
  micro-service:
    container_name: micro-service
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      spring.datasource.url: jdbc:postgresql://postgres-user/
      spring.cloud.config.uri: http://config-server:8081
    image: micro-user
    networks:
      - nw
    ports:
      - '9002:9002'
    depends_on:
      - postgres-user
      - eureka-server
      - config-server

  car-sale:
    container_name: car-sale
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      spring.datasource.url: jdbc:postgresql://postgres-car/
      spring.cloud.config.uri: http://config-server:8081
    image: car-sale:latest
    networks:
      - nw
    ports:
      - '9003:9003'
    depends_on:
      - postgres-car
      - eureka-server
      - config-server

  eureka-server:
    container_name: eureka-server
    image: eureka-server:latest
    ports:
      - '8761:8761'
    networks:
      - nw

  config-server:
    container_name: config-server
    image: config-server
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
    ports:
      - '8081:8081'
    networks:
      - nw

  api-getaway:
    container_name: api-getaway
    image: api-getaway:latest
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
    ports:
      - '8080:8080'
    networks:
      - nw


  postgres-user:
    container_name: postgres-user
    image: postgres:latest
    ports:
      - '5432:5432'
    networks:
      - nw
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

  postgres-car:
    container_name: postgres-car
    image: postgres:latest
    ports:
      - '5433:5432'
    networks:
      - nw
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

  prometheus:
    image: 'prom/prometheus'
    networks:
      - nw
    ports:
      - '9090:9090'
    command: '--config.file=/etc/prometheus/config.yml'
    volumes:
      - './prometheus.yml:/etc/prometheus/config.yml'

  grafana:
    image: 'grafana/grafana'
    networks:
      - nw
    ports:
      - '3000:3000'

networks:
  nw:




