version: '3.9'
services:
  micro-service:
    container_name: micro-service
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
      spring.datasource.url: jdbc:postgresql://postgres/
    image: micro-user
    networks:
      - nw
    ports:
      - '9002:9002'

  eureka-server:
    container_name: eureka-server
    image: eureka-server:latest
    ports:
      - '8761:8761'
    networks:
      - nw

  api-getaway:
    container_name: api-getaway
    image: api-getaway:latest
    environment:
      eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka
    ports:
      - '8080:8080'
    networks:
      - nw


  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - '5432:5432'
    networks:
      - nw
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

  prometheus:
    image: 'prom/prometheus'
    networks:
      - nw
    ports:
      - '9090:9090'
    command: '--config.file=/etc/prometheus/config.yml'
    volumes:
      - './prometheus.yml:/etc/prometheus/config.yml'

  grafana:
    image: 'grafana/grafana'
    networks:
      - nw
    ports:
      - '3000:3000'

networks:
  nw:




